/*
@font-face {
  font-display: swap;
  font-family: Sailec;
  font-weight: 300;
  src: url(/fonts/light.woff2) format('woff2'),
    url(/fonts/light.woff) format('woff');
}
*/

@font-face {
  font-display: swap;
  font-family: Sailec;
  font-weight: 400;
  src: url(/fonts/regular.woff2) format('woff2'),
    url(/fonts/regular.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: Sailec;
  font-weight: 500;
  src: url(/fonts/medium.woff2) format('woff2'),
    url(/fonts/medium.woff) format('woff');
}

@font-face {
  font-display: swap;
  font-family: Sailec;
  font-weight: 700;
  src: url(/fonts/bold.woff2) format('woff2'),
    url(/fonts/bold.woff) format('woff');
}
